nav {
  display: grid;
  grid-template-columns: 60% 40%;
  color: #0290ff;
  align-items: center;
  padding: 1% 10% 0;
  width: 100%;
  justify-content: space-between;
}

nav h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  padding-left: 10%;
  font-size: 16px;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  color: aqua;
}

.left-nav {
  display: flex;
  align-items: center;
}

.user {
  text-align: right;
}

svg {
  width: 25px;
  color: #0290ff;
  padding: 5px;
}

.user svg {
  border: solid 1px #e8e8e8;
  border-radius: 100%;
}

@media screen and (max-width: 560px) {
  nav {
    grid-template-columns: 50% 40%;
  }

  nav h1 {
    font-size: 1rem;
  }
}
