nav {
  display: grid;
  grid-template-columns: 60% 40%;
  color: #0290ff;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  justify-content: space-between;
}

nav h1 {
  font-size: 2rem;
}

nav a {
  text-decoration: none;
  padding-left: 10%;
  font-size: 16px;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
  color: aqua;
}

.left-nav {
  display: flex;
  align-items: center;
}

.user {
  text-align: right;
}

svg {
  width: 25px;
  color: blue;
}