header {
  display: flex;
}

.eachBook {
  display: grid;
  grid-template-columns: 30% 30% 20%;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  padding: 2rem 7.438rem 1.625rem 1.688rem;
  background-color: var(--white-two);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0.063rem 0.938rem 0;
  width: 95%;
  gap: 1%;
}

.left-pan,
.right-pan {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.left-pan h4 {
  color: #121212;
  font-size: 0.875rem;
  opacity: 0.5;
}

.left-pan h1 {
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.left-pan p {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  padding-bottom: 15px;
}

.circle {
  width: 40%;
}

.buttonDiv {
  display: flex;
  gap: 10px;
}

.buttonDiv button {
  color: #4386bf;
  text-decoration: none;
  border: none;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
}

.middle-pan {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-pan p {
  color: #121212;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
}

.middle-pan div h1 {
  font-weight: 400;
}

.middle-pan div p {
  color: #121212;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: 300;
}

.right-pan h5 {
  letter-spacing: -0.4px;
  color: #121212;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.right-pan button {
  width: 11.5rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: white;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
}

svg {
  fill: #0290ff;
}

@media screen and (max-width: 756px) {
  .eachBook {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-content: center;
  }

  .middle-pan {
    justify-content: center;
  }

  .circle {
    width: 20%;
  }
}

@media screen and (max-width: 445px) {
  .bookList {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .middle-pan {
    justify-content: left;
  }

  .eachBook {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .circle {
    width: 20%;
  }
}
