@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Roboto+Slab:wght@300;400;700&display=swap');

button {
  background-color: white;
}

body {
  background-color: var(--pale-grey);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h1,
p,
h4,
h5,
h6 {
  margin: 0;
}

.remove {
  cursor: pointer;
}
